<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>What can you do with this dashboard ?</h4>
      <p>This is an explaination of what can you do on this website and how to do it.</p>
      <p><small>Before you try any of our services, read their usage so you know your way around!</small></p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Let's talk about our services</h4>
      <p>This app includes several tools and integrations that are well known by the common folks. Click on the below links to try them on their own website.</p>
      <ul>
        <li><a target="_blank" href="https://www.youtube.com/"><strong>Youtube</strong></a> - Video streaming</li>
        <li><a target="_blank" href="http://www.meteofrance.com/accueil"><strong>Weather</strong></a> - Weather information</li>
        <li><a target="_blank" href="https://www.xe.com/fr/"><strong>Currency exchange</strong></a> - Currency change</li>
      </ul>
      <p><small>* These are third party services.</small></p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4></h4>
      <p>For more details check below:</p>
      <ul>
        <li><strong>Youtube</strong> - You can find a comment from a video or its viewcount.</li>
        <li><strong>Weather</strong> - You can check the weather of a city.</li>
        <li><strong>Currency</strong> - You can compare the value of two currencies through time.</li>
      </ul>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
