<div id="privacy">
  <div class="container">
    <h1>Dashboard privacy policy</h1>
    <hr/>
    <p>At Dashboard we care deeply about your privacy, and we take pride in being a good steward of any data you choose to share with us.  If you have any questions about how we use or handle user data, just <a href="/contact">ask</a> and we'll get back to you in a jiffy.</p>

    <h3>General information</h3>

    <h3>The truth behind this privacy policy?</h3>
    <ol>
      <li>We don't use your personal informations</li>
      <li>We keep safely your crdentials</li>
      <li>Other matters related to the information we collect about you won't ever be unveiled</li>
    </ol>

    <p>Your privacy is important to us. If you have questions about any of the provisions described above, please <a href="/contact">contact us</a>.</p>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
