<div id="terms">
  <div class="container">
    <h1>Terms of service</h1>
    <hr/>
    <p>There are some simple ground rules you'll need to agree to before using this Dashboard.  Playing by these rules is a mandatory part of using our application, so if you have any questions about them, please <a href="/contact">drop us a line</a> and we'll respond posthaste.</p>
    <p>In fact there is no rule...</p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
